@font-face
  font-family 'sidrem'
  src url('../sidrem.svg#sidrem') format('svg')
  font-weight normal
  font-style normal

.sidrem-block
  p
    font-family 'sidrem'
    text-transform lowercase
    font-size 26px
    text-align justify
  &, &:focus
    outline 0px solid transparent
